<!DOCTYPE html>
<html ng-app="TestZapSibKomBankApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title>Timer</title>
		<link rel="stylesheet" href="print.css">
		<script src="vendors/angular.min.js"></script>
        <script src="vendors/jquery-3.4.1.min.js"></script>
		<link href="vendors/air-datepicker/datepicker.min.css" rel="stylesheet" type="text/css">
        <script src="vendors/air-datepicker/datepicker.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body>
		<div ng-controller="TimerController">
			<h3>1. Секундомер</h2>
			<p>Реализовать секундомер, который запускался бы по нажатию кнопки. Время должно отображаться в формате мм:сс, причем пока не досчитал до минуты отображать только секунды.</p>
			<button ng-click="TimerStar()" ng-init="buttonVisible = 'true'" ng-show="buttonVisible == 'true'">Запустить таймер</button>
			<h2 ng-init="timer = 0">{{timer}}</h2>
		</div>
		
		</br>
		<div ng-controller="TimeLimitController">
			<h3>2. Дата смерти</h2>
			<p>Реализовать расчет количества дней, часов, минут от текущей даты, до даты, введенной пользователем (желательно использовать Dojo Calendar для ввода даты)</p>
			<input id="datepickertest" type='text'  ng-model="limit" ng-change="DateSet()"></input>{{timeLimit}}
		</div>

		</br>
		<div>
			<h3>3. RadioButton из обычных кнопок</h2>
			<p>Реализовать набор обычных кнопок, которые работают по принципу radio-кнопок. Т.е. при нажатии на любую кнопку, она становится выбранной (серой), при этом все остальные кнопку становятся не выбранными (обычного цвета). Названия кнопок берутся из массива, заранее заполненного в javascript-блоке</p>
			<div ng-controller="ButtonController" id="TestButton" ></div>
			</br>
			<div ng-controller="ButtonController2">
				<button ng-repeat-start="b in buttons" id="{{b}}" ng-click="ButtonClick($event, b)" ng-if="$first" disabled>{{b}}</button>
				<button ng-repeat-end id="{{b}}" ng-click="ButtonClick($event, b)" ng-if="!$first">{{b}}</button>
			</div>
		</div>
		
		</br>
		<div>
			<h3>4. Печатная форма</h2>
			<p>Сделать блок (div) с любым текстом. При печати страницы из браузера, должен печататься только этот блок, при этом, вне зависимости от изменения масштаба в окне браузера этот блок должен выходить на печать всегда одинаково (т.е. печатная форма фиксирована и не зависит от масштаба страницы в браузере).</p>
			<div id="section-to-print">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</body>
</html>