.outer{
	position: relative;
}
.page {
	color:rgba(37, 39, 40, 1);
	font-weight: 500;
	font-family:Roboto;
	letter-spacing:0;
	text-align:left;
	position:absolute;
	margin: auto;
    top: 137px;
}
.category { 
	width:545px;
	height:63px;
	position:absolute;
	left:3px;
	top:0px;
	font-style: normal;
	font-size:50px;
	line-height: 125%;
	text-transform: uppercase;
}
.flatBox { 
	border:1px solid rgba(17, 35, 49, 1);
	background-color:rgba(239, 234, 228, 1);
	width:1160px;
	height:495px;
	position:absolute;
	left: 0px;
	top: 123px;
	padding: 40px;
	bs-gutter-x: 0rem;
}
.description{
	position:absolute;
	left:581px;
	width:380px;
	margin-left: 50px;
}
.object{
	position:absolute;
	top:0px;
	font-size:26px;
	line-height:33,8px;
}
.deadline, .advantages, .initial, .price{
	height:20px;
	position:absolute;
	top: 94px;
	font-size:14px;
	line-height:20px;
}
.advantages{
	top: 160px;
}
.advantage{
	disabled: true;
}
.advantage, .initialfee, .pricen{
	font-size:12px;
}
.initial{
	top: 220px;
	width: 100%;
}
.initialspan{
	width: 130px;
}
.initialsumm{
	color:rgba(0, 0, 0, 1);
	font-size:16px;
	text-align: right;
}
.price{
	top: 280px;
}
.pricem{
	top: 290px;
	font-size:20px;
}
.checksumm { 
	width:100%;
	height:48px;
	position: absolute;
	top:350px;
	background-color:rgba(255, 94, 86, 1);
	border-radius: 0rem;
	font-family:Roboto;
}

#loader {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	vertical-align: middle;
}

.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}